.desktop {
    display: none;
}

.mobile_versia.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 6%;
}

.up_part {
    width: 100%;
    padding: 5% 10% 5% 12%;
    background-color: #027B89;
    color: #ffffff;
}

.up_part .brend_atributs {
    justify-content: flex-start;
}

.rubrics_list {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.name_rubric {
    color: #ffffff;
    font-size: 1.4rem;
}

.links_names {
    margin-top: 1rem;
}

.social_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.text_links {
    font-size: 1.8rem;
}

.social_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.item_icon.network {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.down_part {
    display: flex;
    flex-direction: column;
    padding: 4% 6% 5% 11%;
    color: #001D5B;
    background-color: #FAF4F4;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.6rem;
}

.img_copyright {
    width: 25px;
    height: 25px;
    margin-left: -2px;
}

.payments {
    font-size: 1.4rem;
    margin-top: 1.5%;
    padding-right: 5%;
}

.box_pay {
    margin-top: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pay {
    width: 45%;
}

.arrow_up {
    position: fixed;
    width: 8vmin;
    padding: 4px;
    top: 92%;
    left: 90vmin;
}