 .desktop_footer {
     display: none;
 }
 
 .mobile_versia.footer {
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }
 
 .up_part {
     width: 100%;
     padding: 5% 10% 5% 12%;
     background-color: #027B89;
     color: #ffffff;
 }
 
 .up_part .brend_atributs {
     justify-content: flex-start;
 }
 
 .rubrics_list {
     display: flex;
     flex-direction: column;
     margin-top: 5%;
 }
 
 .name_rubric {
     color: #ffffff;
     font-size: 1.5em;
 }
 
 .name_rubric:hover {
     color: #D2F296;
 }
 
 .links_names {
     margin-top: 1rem;
 }
 
 .social_links {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-top: 10px;
 }
 
 .text_links {
     font-size: 5vw;
 }
 
 .social_icons {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-left: 3%;
 }
 
 .social_icon {
     width: 24px;
     margin-right: 1em;
     fill: #ffffff;
 }
 
 .social_icon:hover {
     fill: #D2F296;
 }
 
 .down_part {
     display: flex;
     flex-direction: column;
     padding: 4% 6% 5% 11%;
     color: #001D5B;
     background-color: #FAF4F4;
 }
 
 .copyright {
     font-size: 5vw;
     align-items: center;
     display: flex;
 }
 
 .img_copyright {
     width: 25px;
     height: 25px;
     margin-left: -2px;
 }
 
 .payments {
     font-size: 4.37vw;
     margin-top: 1.5%;
     padding-right: 5%;
 }
 
 .box_pay {
     margin-top: 2.5%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
 
 .pay {
     width: 45%;
 }
 
 .arrow_up_mobile {
     position: absolute;
     width: 4.5vw;
     padding: 0;
     top: 80%;
     right: 2%;
 }
 /*=====MEDIA QUARIES====*/
 
 @media (min-width: 641px) and (max-width: 960px) {
     .desktop_footer {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         background-color: #027B89;
         color: #ffffff;
         padding: 2.6% 6%;
     }
     .footer_caption {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-between;
         align-items: flex-start;
     }
     .logo {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 5.9vw;
         height: 7.5vw;
         background-color: #ffffff;
         margin-right: 0.7em;
     }
     .subscription_block {
         display: none;
     }
     .social_links {
         width: 50%;
         display: flex;
         justify-content: flex-end;
     }
     .text_links {
         font-size: 2.4vw;
     }
     .network {
         margin-right: 5px;
     }
     .social_icons {
         display: flex;
         width: 24%;
         justify-content: space-between;
     }
     .social_icon {
         width: 4vw;
         fill: #ffffff;
     }
     .menu_site {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-between;
         margin-top: 2%;
         letter-spacing: 1px;
         font-weight: 300;
         color: #ffffff;
     }
     .box {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
     }
     .box.left {
         width: 70%;
     }
     .rubrics_list:nth-child(2) {
         display: none;
     }
     .rubrics_list {
         margin-top: 0;
     }
     .rubrics_list:first-child {
         margin-right: 2%;
     }
     .name_rubric {
         font-size: 1.8vw;
     }
     .general_name {
         letter-spacing: 1px;
     }
     .box.right {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 35%;
     }
     .payments {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         font-size: 1.8vw;
         margin-top: 1.5%;
         padding-right: 0;
     }
     .text_payments {
         align-self: flex-end;
         font-size: 1.6vw;
         line-height: 1.2em;
     }
     .box_pay {
         margin-top: 6%;
     }
     .pay {
         width: 47%;
     }
     .img_copyright {
         margin-left: -0.3em;
         margin-right: 1em;
     }
     .copyright {
         display: flex;
         flex-direction: row;
         align-items: center;
         font-size: 1.6vw;
         font-weight: 300;
         margin-top: -3%;
     }
     .mobile_versia.footer {
         display: none;
     }
 }
 
 @media (min-width: 961px) {
     .desktop_footer {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         background-color: #027B89;
         color: #ffffff;
         padding: 2% 6% 1.5% 6%;
     }
     .footer_caption {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-between;
         align-items: center;
     }
     .brend_atributs {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-between;
         width: auto;
         align-items: center;
     }
     .logo {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 4.2vw;
         height: 5.3vw;
         background-color: #ffffff;
         margin-right: 1em;
     }
     .link_logo {
         color: #001D5B;
         font-size: 1.25vw;
     }
     .store_name {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
     .company_name {
         font-size: 2.5vw;
         font-weight: 700;
         letter-spacing: 0;
     }
     .internet_store {
         font-size: 1.1vw;
         font-weight: 400;
         justify-content: center;
         letter-spacing: 0.05em;
         margin-top: 0.3em;
     }
     .subscription_block {
         display: flex;
         flex-direction: column;
         width: 40%;
     }
     .text_subscription {
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding: 2%;
         border-radius: 20px;
         background-color: #ffffff;
         box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
     }
     .subscription_footer {
         font-size: 1.35vw;
         color: #001D5B;
         font-weight: 500;
     }
     .subscription_footer:hover {
         color: #E54B7C;
     }
     .text_links.network {
         margin-right: auto;
     }
     .social_icons {
         margin-left: 0;
     }
     .social_links {
         display: flex;
         flex-direction: row;
         align-items: center;
         margin-top: 0;
         width: 25%;
     }
     .text_links {
         font-size: 1.3vw;
     }
     .social_icon {
         width: 2.2vw;
     }
     .social_icons {
         display: flex;
         width: 25%;
         fill: #ffffff;
     }
     .menu_site {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-between;
         margin-top: 1.2%;
         letter-spacing: 1px;
         font-weight: 300;
         color: #ffffff;
         padding-left: 5.7%;
     }
     .box {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-between;
     }
     .box.left {
         width: 64%;
     }
     .rubrics_list {
         margin-top: 0;
     }
     .rubrics_list:first-child {
         margin-right: 2%;
     }
     .name_rubric {
         font-size: 1.1vw;
     }
     .general_name {
         letter-spacing: 1px;
     }
     .box.right {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         width: 31%;
     }
     .payments {
         width: 45%;
         display: flex;
         flex-direction: column;
         font-size: 0.8vw;
         margin-top: 1.5%;
         padding-right: 0;
     }
     .text_payments {
         align-self: flex-end;
         font-size: 1.15vw;
         line-height: 1.2em;
     }
     .box_pay {
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         margin-top: 12%;
     }
     .pay {
         width: 100%;
     }
     .pay:last-child {
         margin-top: 12%;
     }
     .img_copyright {
         margin-left: -0.3em;
         margin-right: 1em;
     }
     .copyright {
         display: flex;
         flex-direction: row;
         align-items: center;
         font-size: 1vw;
         font-weight: 300;
         margin-top: 1%;
     }
     .mobile_versia.footer {
         display: none;
     }
 }