/*======HEADER===-width---max-640px-====*/

@media (max-width: 640px) {
    .mobile_versia {
        min-width: 320px;
        box-sizing: border-box;
        position: relative;
        margin-top: 0px;
    }
    .caption {
        background-color: #027B89;
    }
    .caption_container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 5%;
        padding-right: 5%;
        justify-content: space-between;
        color: #ffffff;
    }
    .menu_gumburger {
        width: 6.25%;
        height: 6.25%;
        align-self: center;
        margin-right: 3px;
    }
    .brend_atributs {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: auto;
        align-items: center;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8.5vw;
        height: 11vw;
        background-color: #ffffff;
        margin-right: 6px;
    }
    .link_logo {
        padding: auto;
        color: #001D5B;
        font-size: 0.8rem;
    }
    .store_name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .company_name {
        font-size: 6.5vw;
        font-weight: 700;
        letter-spacing: 0.1em;
    }
    .internet_store {
        font-size: 3vw;
        font-weight: 400;
        justify-content: center;
        letter-spacing: 0.1em;
        margin-top: 0.3em;
    }
    .service_list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 15%;
    }
    .service_icon.tablet {
        display: none;
    }
    .service_icon_mobile:last-child {
        margin-left: 2px;
    }
    .item_icon_mobile {
        width: 7.5vw;
        fill: #ffffff;
    }
    .item_icon_mobile:hover {
        fill: #D2F296;
    }
    .item_icon_mobile.nav {
        fill: #0293A4;
    }
    .item_icon_mobile.nav:hover {
        fill: #A6D848;
    }
    .icon_text {
        display: none;
    }
    .help_container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        background-color: #E2EEEF;
        border-bottom: 1px solid #74C1CA;
        padding: 1% 5% 1% 5%;
        align-items: center;
    }
    .search_form {
        position: relative;
        width: 80%;
        margin-right: 5%;
    }
    .search-group {
        width: calc(100% - 48px);
    }
    .visually-hidden {
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
    }
    .search_input {
        font-size: 1rem;
        width: 100%;
        height: 2.3em;
        padding-left: 15px;
        padding-right: 11.1%;
        border: 2px solid #027B89;
        border-radius: 2em;
        outline: none;
        background: #ffffff;
        color: #83B5B9;
        box-shadow: inset 0px 3px 4px grey;
    }
    .search_input:hover,
    .search_input:focus {
        border: 2px solid #D2F296;
    }
    .search_input::placeholder {
        color: #83B5B9;
        font-size: 1.2rem;
    }
    .search_button {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 11%;
        height: 100%;
        border: none;
        box-shadow: inset 0px 2px 4px grey;
        background-size: 1.9em;
        background-position: center;
        background-repeat: no-repeat;
        background: #0ABAC7;
        border-radius: 2em;
        cursor: pointer;
    }
    .search_button:hover,
    .search_button:focus {
        background-color: #D2F296;
        outline: none;
    }
    .loop {
        position: absolute;
        width: 70%;
        height: 70%;
        top: 17%;
        right: 12%;
        fill: #ffffff;
    }
    .loop:hover,
    .loop:focus {
        fill: #001D5B;
    }
    .desktop_versia {
        display: none;
    }
}


/*=====MEDIA QUARIES====*/

@media (min-width: 641px) and (max-width: 960px) {
    .mobile_versia {
        display: none;
    }
    .desktop_versia {
        display: flex;
        flex-direction: column;
    }
    .menu_sections,
    .caption,
    .menu_categories {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 0.3% 5%;
        align-items: center;
    }
    .caption {
        background-color: #027B89;
        padding: 2% 5%;
    }
    .menu_categories {
        justify-content: flex-end;
        background-color: #E2EEEF;
        border-bottom: 1px solid #74C1CA;
        padding: 0.7% 6%;
    }
    .navigator_sections {
        width: 70%;
    }
    .contacts {
        max-width: 13%;
    }
    .section_items_list,
    .contacts_list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .section_item {
        margin-right: 15px;
    }
    .section_item:last-child {
        margin-right: 0px;
    }
    .section_link {
        font-size: 1.5vw;
        color: #001D5B;
        text-transform: uppercase;
    }
    .section_link:hover {
        color: #E54B7C;
    }
    .contact_icon:first-child,
    .contact_icon:nth-child(n + 5) {
        display: none;
    }
    .item_icon_contact {
        fill: #001D5B;
    }
    .item_icon_contact:hover {
        fill: #E54B7C;
    }
    .caption_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        color: #ffffff;
        align-items: center;
    }
    .brend_atributs {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: auto;
        align-items: center;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.9vw;
        height: 7.5vw;
        background-color: #ffffff;
        margin-right: 0.7em;
    }
    .link_logo {
        padding: auto;
        color: #001D5B;
        font-size: 1.5vw;
    }
    .store_name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .company_name {
        font-size: 3.9vw;
        font-weight: 700;
        letter-spacing: 0.1em;
    }
    .internet_store {
        font-size: 1.6vw;
        font-weight: 400;
        justify-content: center;
        letter-spacing: 0.1em;
        margin-top: 0.3em;
    }
    .search_container {
        display: flex;
        width: 40%;
    }
    .search_form {
        position: relative;
        width: 100%;
    }
    .search_group {
        width: calc(100% - 48px);
    }
    .search_input {
        font-size: 1rem;
        width: 100%;
        height: 2.1em;
        padding-left: 15px;
        border: 2px solid #027B89;
        border-radius: 2em;
        outline: none;
        background: #ffffff;
        color: #83B5B9;
        box-shadow: inset 0px 3px 4px grey;
        scroll-padding-right: 17%;
    }
    .search_input::placeholder {
        color: #83B5B9;
        font-size: 1rem;
    }
    .search_input:hover,
    .search_input:focus {
        border: 2px solid #D2F296;
    }
    .visually-hidden {
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
    }
    .search_button {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 17%;
        height: 100%;
        border: none;
        box-shadow: inset 0px 2px 4px grey;
        background-size: 1.9em;
        background-position: center;
        background-repeat: no-repeat;
        background: #0ABAC7;
        border-radius: 20em;
        cursor: pointer;
    }
    .search_button:hover,
    .search_button:focus {
        background-color: #D2F296;
        outline: none;
    }
    .loop {
        position: absolute;
        width: 70%;
        height: 70%;
        top: 17%;
        right: 12%;
        fill: #ffffff;
    }
    .loop:hover,
    .loop:focus {
        fill: #001D5B;
    }
    .service_menu {
        display: flex;
        width: 14%;
    }
    .service_list {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .service_icon.tablet {
        display: block;
    }
    .service_icon.smartphone {
        display: none;
    }
    .item_icon {
        width: 3vw;
        max-width: 5vw;
        fill: #ffffff;
    }
    .item_icon:last-child {
        width: 2.6vw;
        margin-top: 2px;
    }
    .item_icon:hover {
        transform: scale(1.2);
        fill: #D2F296;
    }
    .icon_text {
        display: none;
    }
}

@media (min-width: 961px) {
    .mobile_versia {
        display: none;
    }
    .desktop_versia {
        display: flex;
        flex-direction: column;
    }
    .menu_sections,
    .caption,
    .menu_categories {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #FAF4F4;
        padding: 0.5% 6%;
        align-items: center;
    }
    .caption {
        background-color: #027B89;
        padding: 0.8% 6%;
    }
    .menu_categories {
        justify-content: flex-end;
        background-color: #E2EEEF;
        border-bottom: 1px solid #74C1CA;
        padding: 0.7% 6%;
    }
    .navigator_sections {
        max-width: 57%;
    }
    .section_items_list,
    .contacts_list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .section_item {
        margin-right: 15px;
    }
    .section_item:last-child {
        margin-right: 0px;
    }
    .section_link {
        font-size: 1.15vw;
        color: #001D5B;
        text-transform: uppercase;
    }
    .section_link:hover {
        color: #E54B7C;
    }
    .contact_icon:nth-child(2) {
        display: none;
    }
    .contact_icon {
        width: 2.4vw;
        max-width: 38px;
        margin-right: 1em;
    }
    .contact_icon.number {
        width: 51%;
        max-width: 51%;
    }
    .contact_icon:last-child {
        margin-right: 0px;
    }
    .telephone_number {
        font-size: 1.25vw;
        color: #001D5B;
    }
    .telephone_number:hover {
        fill: #E54B7C;
    }
    .item_icon_contact {
        fill: #001D5B;
    }
    .item_icon_contact:hover {
        fill: #E54B7C;
    }
    .facebook_up .item_icon_contact,
    .vkontakte_up .item_icon_contact {
        fill: #ffffff;
    }
    .facebook_up .item_icon_contact:hover,
    .vkontakte_up .item_icon_contact:hover {
        fill: #D978B0;
    }
    .caption_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        color: #ffffff;
        align-items: center;
    }
    .brend_atributs {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: auto;
        align-items: center;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.2vw;
        height: 5.3vw;
        background-color: #ffffff;
        margin-right: 1em;
    }
    .link_logo {
        color: #001D5B;
        font-size: 2vw;
    }
    .store_name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .company_name {
        font-size: 2.5vw;
        font-weight: 700;
        letter-spacing: 0;
    }
    .internet_store {
        font-size: 1vw;
        font-weight: 400;
        justify-content: center;
        letter-spacing: 0.05em;
        margin-top: 0.3em;
    }
    .search_container {
        display: flex;
        width: 47%;
    }
    .search_form {
        position: relative;
        width: 100%;
    }
    .search_group {
        width: calc(100% - 48px);
    }
    .search_input {
        width: 100%;
        padding: 0.9vw 11.2% 0.9vw 1.2vw;
        border: 2px solid #027B89;
        border-radius: 2em;
        outline: none;
        background: #ffffff;
        color: #83B5B9;
        box-shadow: inset 0px 3px 4px grey;
    }
    .search_input::placeholder {
        color: #83B5B9;
        font-size: 1.15vw;
    }
    .search_input:hover,
    .search_input:focus {
        border: 2px solid #D2F296;
    }
    .visually-hidden {
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
    }
    .search_button {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 11.2%;
        height: 100%;
        border: none;
        box-shadow: inset 0px 2px 4px grey;
        background-size: 1.9em;
        background-position: center;
        background-repeat: no-repeat;
        background: #0ABAC7;
        border-radius: 2em;
        cursor: pointer;
    }
    .search_button:hover,
    .search_button:focus {
        background-color: #D2F296;
        outline: none;
    }
    .loop {
        position: absolute;
        width: 70%;
        height: 70%;
        top: 17%;
        right: 12%;
        fill: #ffffff;
    }
    .loop:hover,
    .loop:focus {
        fill: #001D5B;
    }
    .service_menu {
        display: flex;
    }
    .service_list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .service_icon.tablet {
        display: block;
    }
    .service_icon.smartphone {
        display: none;
    }
    .service_icon {
        margin-right: 1em;
    }
    .item_icon {
        width: 2.5vw;
        height: auto;
        max-width: 5vw;
        fill: #ffffff;
    }
    .item_icon:last-child {
        width: 2.25vw;
    }
    .item_icon:hover {
        transform: scale(1.2);
        fill: #D2F296;
    }
    .icon_text {
        display: none;
    }
}